[Unit]
Description=Keycloak service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=yuri
ExecStart=/opt/keycloak/bin/standalone.sh -Dkeycloak.import=/opt/keycloak/realm.json -Dkeycloak.migration.strategy=IGNORE_EXISTING

[Install]
WantedBy=multi-user.target
