[Unit]
Description=Token validation service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=yuri
ExecStart=/opt/token-validation-service/tokenvirtualenv/bin/gunicorn main:app --pythonpath="/opt/token-validation-service/tokenvirtualenv/" --workers=1 --bind localhost:3000

[Install]
WantedBy=multi-user.target
